<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.reminder_app">
    <application
        android:label="remimder_app"
        android:icon="@mipmap/ic_launcher">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name="com.dexterous.flutterlocalnotifications.receiver.NotificationReceiver"/>
        <receiver android:name="com.dexterous.flutterlocalnotifications.receiver.RebootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
    </application>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
</manifest>
